@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*global styles*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Work Sans', sans-serif;
}

img {
	max-width: 100%;
}

ul, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.none {
	display: none;
	visibility: hidden;
	position: absolute;
}

/*header*/
header {
	background: #010101;
	padding: 20px 0;
}

header a {
	color: #fff;
}

.logo h1 a {
	font-size: 27px;
	font-weight: bold;
	color: #fff;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

header nav ul li {
	padding-top: 15px;
	margin-left: 40px;
	position: relative;
}

header nav ul li a {
	font-size: 15px;
	text-decoration: none;
	font-weight: 400;
	transition: 0.2s;
	padding-bottom: -1px;
}

header nav ul li a:hover {
	color: #999;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid #999;
}

header nav ul .contact-us-btn a {
	border: 2px solid #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

header nav ul .contact-us-btn a:hover {
	text-decoration: none;
	border: 2px solid #999;
}

.dropdown-btn:hover .dropdown {
	opacity: 1;
}

.dropdown {
	opacity: 0;
	transition: 0.2s;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100px;
	height: 175px;
	background: #222;
	border-radius: 5px;
	z-index: 2;
}

.dropdown ul {
	display: inline;
}

.dropdown ul li {
	margin-left: 10px;
}

.lang img {
	width: 40px;
}

/*hero*/
.slider-hero .slide-inner {
	position: relative;
}

.slider-hero .slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px; /*just for testing, take it from figma*/
	transform: translate(-50%, -50%);
}

.section-hero h2 {
	text-align: center;
	color: #fff;
	font-weight: 900;
	font-size: 70px;
}

.section-hero .shop-collection {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	font-size: 20px;
	padding: 7px 30px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #fff;
}

/*about us*/
.about-us {
	background: #f6f8f9;
	padding: 100px 0;
}

.about-us .tabs {
	list-style: none;
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	display: table;
}

.about-us .tabs li {
	display: inline-block;
	width: 25%;
	padding: 15px 0;
	text-align: center;
	position: relative;
	color: #777;
	cursor: pointer;
	border-bottom: 2px solid #ccc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.about-us .tabs li.active {
	color: white;
	border-color: black;
	background: black;
}

.tabs-content {
	position: relative;
	display: table;
	width: 100%;
	height: 450px;
	border-radius: 5px;
	background: black;
	color: #fff;
}

.tabs-content .col-md-12 {
	display: flex;
	flex-wrap: wrap;
}

.tabs-content p {
	font-size: 19px;
	width: 40%;
	margin: 45px;
}

.tabs-content img {
	height: 70%;
	margin-top: 50px;
	object-fit: cover;
}

.info {
	display: inline-block;
	position: absolute;
	top: 100px;
	transition: 0.5s;
	opacity: 0;
}

.show {
	top: 0;
	opacity: 1;
}

.our-products .heading {
	text-align: center;
}

.our-products .heading h2 {
	font-size: 35px;
	font-weight: 700;
	margin: 30px 0;
}

.our-products .heading ul {
	display: inline-block;
	margin: 0 auto;
	display: inline;
}

.our-products .heading ul li {
	list-style-type: none;
	float: left;
	margin: 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
}

.our-products .heading ul li:hover > a {
	color: blue;
}

.our-products .heading ul li a {
	color: black;
	transition: 0.2s;
	text-decoration: none;
}

.our-products .products .col-md-12 {
	display: flex;
	flex-wrap: wrap;
}

.our-products .products .product {
	width: 24%;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.our-products .products .product img {
	object-fit: cover;
	width: 100%;
	display: block;
	margin: 0 auto;
	border: 2px solid #ccc;
	padding: 20px;
}

.our-products .products .product .description {
	font-weight: 600;
	margin: 10px 0 20px;
}

.our-products .products .product .price {
	font-weight: 700;
	font-size: 22px;
	display: block;
	width: 100px;
}

.our-products .products .product i {
	font-size: 28px;
	margin-left: 120px;
}

/*lookbook*/
.lookbook .lookbook-inner {
	display: flex;
	flex-wrap: wrap;
}

.lookbook .heading h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	margin: 70px 0 40px;
}

.lookbook .lookbook-inner .image {
	width: 33.33%;
}

.lookbook .lookbook-inner .image img {
	width: 100%;
	height: auto;
}

/*testimonials*/

.testimonials .heading h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	margin: 70px 0 60px;
}

.testimonials .testimonials-slider {
	height: 400px;
	background: #f3f5f6;
	border-radius: 10px
}

.testimonials .testimonials-slide .review {
	font-size: 18px;
	margin-top: 100px;
	font-weight: 500;
	text-align: center;
}

.testimonials .testimonials-slide .profile-picture img {
	margin: 0 auto;
	border-radius: 50%;
	width: 10%;
}

.testimonials .testimonials-slide .name {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	margin-top: 10px;
}

.testimonials .testimonials-slide .about {
	text-align: center;
	font-size: 17px;
	margin-top: 10px;
}

.testimonials .slick-prev:before {
  	content: " <i class="fa-solid fa-arrow-left"></i> ";
  	color: black;
  	font-size: 30px;
}

.testimonials .slick-next:before {
  	content: "<i class="fa-solid fa-arrow-right"></i> ";
  	color: black;
  	font-size: 30px;
}

/*contact us*/
.contact-us {
	margin-top: 60px;
}

.contact-us .heading h2 {
	font-size: 37px;
	font-weight: 700;
	margin: 70px 0 30px;
}

.contact-us .image {
	padding-right: 50px;
}

.contact-us .login-form .form label,
.contact-us .login-form .form input {
	float: left;
	clear: left;
	width: 100%;
}

.contact-us .login-form .form label {
	font-size: 18px;
	font-weight: 500;
}

.contact-us .login-form .form .submit {
	height: 43px;
	width: 40%;
	margin-top: 25px;
	background: black;
	color: #fff;
	border-radius: 4px
}

.contact-us .login-form .form input {
	border: none;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

/*footer*/
footer {
	height: 80px;
	background: black;
	margin-top: 50px;
}

footer .col-md-12 {
	display: flex;
	flex-wrap: wrap;
}

footer .logo {
	margin-top: 10px;
}

footer .social-links {
	margin: 23px auto;
}

footer .social-links i {
	margin: 0 10px;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 7px;
}

footer .copyright {
	float: right;
	margin-top: 28px;
}

footer .copyright p {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}


/*RESPONSIVE*/
@media only screen and (max-width: 768px){
	.section-hero img {
		height: 600px;
		object-fit: cover;
	}

	.section-hero .slide-content h2 {
		font-size: 30px;
	}
}